@using FundSharer.Models
@model IEnumerable<UserDetails>


    
    
@foreach (UserDetails u in Model)
{
    <tr>
        <td>@Html.DisplayFor(m => u.FirstName)</td>
        <td>@Html.DisplayFor(m => u.LastName)</td>
        <td>@Html.DisplayFor(m => u.UserName)</td>
        <td>@Html.DisplayFor(m => u.PhoneNumber)</td>
        <td>@Html.DisplayFor(m => u.LastLoginDate)</td>
    </tr>
}
    
