@using FundSharer.Models
@model DonationDetails
@{
    @*Recipient account details*@

            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(Model => Model.RecipientFullName)</dt>
                <dd>@Html.DisplayFor(Model => Model.RecipientFullName)</dd>

                <dt>@Html.DisplayNameFor(Model => Model.RecipientAccountNumber)</dt>
                <dd>@Html.DisplayFor(Model => Model.RecipientAccountNumber)</dd>

                <dt>@Html.DisplayNameFor(Model => Model.RecipientBankName)</dt>
                <dd>@Html.DisplayFor(Model => Model.RecipientBankName)</dd>
                </dl>
                PaymentDetails payDetails = ViewBag.PayDetails; 
                if (payDetails != null)
                {
                    <dl>
                    <dt>@Html.DisplayNameFor(Model => payDetails.Date)</dt>
                    <dd>@Html.DisplayFor(Model => payDetails.Date)</dd>

                    <dt>@Html.DisplayNameFor(Model => payDetails.Status)</dt>
                    @{String status = "Confirmed";}   
                    @if (payDetails.Status == false)
                    {
                         status = "Awaiting Confirmation";
                    }
                    <dd>@Html.DisplayFor(model => status)</dd>
                    </dl>
                }
                else
                {
                 <div>
                     @using (Html.BeginForm("UploadPaymentInfo", "Payments", new { Model.DonationId}, FormMethod.Get))
                     {
                        
                        <input type="submit" class="btn btn-primary btn-lg" value="Upload Payment Proof"/>
                     }
                </div>  
                }
}




