@using FundSharer.Models
@model DonationDetails
@{
    @*Recipient account details*@
            
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(Model => Model.RecipientFullName)</dt>
                <dd>@Html.DisplayFor(Model => Model.RecipientFullName)</dd>

                <dt>@Html.DisplayNameFor(Model => Model.RecipientAccountNumber)</dt>
                <dd>@Html.DisplayFor(Model => Model.RecipientAccountNumber)</dd>

                <dt>@Html.DisplayNameFor(Model => Model.RecipientBankName)</dt>
                <dd>@Html.DisplayFor(Model => Model.RecipientBankName)</dd>
                </dl>
                if (Model.PaymentId != "")
                {
                    <dl>
                    <dt>@Html.DisplayNameFor(Model => Model.PaymentDate)</dt>
                    <dd>@Html.DisplayFor(Model => Model.PaymentDate)</dd>

                    <dt>@Html.DisplayNameFor(Model => Model.PaymentStatus)</dt>
                    @{String status = "Confirmed";}   
                    @if (Model.PaymentStatus == false)
                    {
                         status = "Awaiting Confirmation";
                    }
                    <dd>@Html.DisplayFor(Model => status)</dd>
                    </dl>
                }
                else
                {
                 <div>
                     @using (Html.BeginForm("UploadPaymentInfo", "Payments", new { Model.DonationId}, FormMethod.Get))
                     {
                        
                        <input type="submit" class="btn btn-primary btn-lg" value="Upload Payment Proof"/>
                     }
                </div>  
                }
}




