@using FundSharer.Models
@model DonationDetails
@{
    @*Recipient account details*@

                <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(Model => Model.RecipientFullName)</dt>
                <dd>@Html.DisplayFor(Model => Model.RecipientFullName)</dd>

                <dt>@Html.DisplayNameFor(Model => Model.RecipientAccountNumber)</dt>
                <dd>@Html.DisplayFor(Model => Model.RecipientAccountNumber)</dd>

                <dt>@Html.DisplayNameFor(Model => Model.RecipientBankName)</dt>
                <dd>@Html.DisplayFor(Model => Model.RecipientBankName)</dd>
                </dl>
                PaymentDetails payDetails = ViewBag.PendingPayDetails; 
                if (payDetails != null)
                {
                <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(Model => payDetails.Date)</dt>
                <dd>@Html.DisplayFor(Model => payDetails.Date)</dd>

                <dt>@Html.DisplayNameFor(Model => payDetails.Status)</dt>  
                @if (payDetails.Status == false)
                {<dd><div class="alert alert-danger">Awaiting Confirmation</div></dd>
                }
                else
                {
                <dd><div class="alert alert-danger">Confirmed</div></dd>
                }
                </dl>
                }
                else
                {
                 <div>
                     @using (Html.BeginForm("UploadPaymentInfo", "Payments", new { Id = Model.DonationId}, FormMethod.Get))
                     {
                        <div class="pull-right"><input type="submit" class="btn btn-primary btn-lg" value="Upload Payment Proof"/></div>
                     }
                </div>  
                }
}




