
@using System.Security.Claims
@using Microsoft.AspNet.Identity
@using FundSharer.Models

@if (Request.IsAuthenticated)
{
    ViewBag.Title = "Home";
    var identity = (ClaimsIdentity)User.Identity;
    var Fname = identity.FindFirstValue(ClaimTypes.GivenName);

<hr />
<div class="row">
    <!--First Column-->
    <div class="col-md-6">
        <div class="panel-group" id="acc1">
            <!--Personal Information-->
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <i class="fa fa-user fa-3x"></i>
                        </div>
                        <div class="col-sm-9 text-right">
                            <div class="huge">
                                <a data-toggle="collapse" data-parent="#acc1" href="#a1">Personal Information</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="a1" class="panel-collapse collapse">
                    <div class="panel-body" id="uPanel">
                       @{UserDetails Ud = ViewBag.UserDetails;}
                        @Html.Partial("_UserDetails", Ud)              
                    </div>
                </div>
            </div>
            </div>
            <!--My Donors-->
            <div class="panel-group" id="acc2">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-3">
                                <i class="fa fa-group fa-3x"></i>
                            </div>
                            <div class="col-sm-9 text-right">
                                <div class="huge">
                                    <a data-toggle="collapse" data-parent="#acc2" href="#a2">My Donors</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="a2" class="panel-collapse collapse">
                        <div class="panel-body">
                            @{List<Dictionary<string, object>> incomingDonations = ViewBag.PendingIncomingDonations; }
                                @Html.Partial("_AccountDonations", incomingDonations)
                            </div>
                        </div>
                    </div>
                </div>
    <!--Incoming Donations History-->
    <div class="panel-group" id="acc3">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <i class="fa fa-list-ul fa-3x"></i>
                        </div>
                        <div class="col-sm-9 text-center">
                            <div class="huge">
                                <a data-toggle="collapse" data-parent="#acc3" href="#a3">Incoming Donations History</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="a3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table table-condensed table-responsive">
                            <thead>
                                <tr>
                                    <th>Index</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ 
                                    var IncomingPayments = ViewBag.IncomingPayments;
                                    if(IncomingPayments.Count > 0)
                                    {
                                        int index = 1;
                                        foreach(DateTime p in IncomingPayments)
                                        {
                                            <tr>
                                                <td>@Html.DisplayTextFor(m => index)</td>
                                                <td>@p.ToLongDateString()</td>
                                            </tr>
                                            index++;
                                        }
                                    }
                                    else
                                    {
                                        <tr><td>-</td><td>-</td></tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
    <!--End of First Column-->
    <!--Second Column-->
    <div class="col-md-6">
        <!--Account Information-->
        <div class="panel-group" id="acc4">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <i class="fa fa-bank fa-3x"></i>
                        </div>
                        <div class="col-sm-9 text-right">
                            <div class="huge">
                                <a data-toggle="collapse" data-parent="#acc4" href="#b1">Account Information</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="b1" class="panel-collapse collapse">
                    <div class="panel-body" id="aPanel">
                        @{ BankAccountDetails Bd = ViewBag.BankAccountDetails;}
                      @Html.Partial("_BankAccountDetails", Bd)
                    </div>
                </div>
            </div>
        </div>
            <!--Donation-->
            <div class="panel-group" id="acc5">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-3">
                                <i class="fa fa-send fa-3x"></i>
                            </div>
                            <div class="col-sm-9 text-right">
                                <div class="huge">
                                    <a data-toggle="collapse" data-parent="#acc5" href="#b2">Donation</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="b2" class="panel-collapse collapse">
                        <div class="panel-body">
                             @{
                                 DonationDetails OutgoingDonation = ViewBag.PendingOutgoingDonation;
                                 if (OutgoingDonation != null)
                                 {
                                     @Html.Partial("_FindAMatch", OutgoingDonation)
                                 }
                                 else
                                 {
                                     if (ViewBag.BankAccountDetails.IsReceiver == false)
                                     {
                                        <div id="Change">
                                            @using (Ajax.BeginForm("FindAMatch", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = "Change", }))
                                            {
                                                <div class="pull-right"><input type="submit" class="btn btn-primary btn-lg btn-block" value="Find a Match" /></div>
                                            }
                                        </div>
                                     }
                                     else
                                     {
                                         <div class="alert alert-info">Waiting for donations</div>
                                     }

                                 }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!--Outgoing Donations History-->
        <div class="panel-group" id="acc6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <i class="fa fa-list-ul fa-3x"></i>
                        </div>
                        <div class="col-sm-9 text-center">
                            <div class="huge">
                                <a data-toggle="collapse" data-parent="#acc6" href="#b3">Outgoing Donations History</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="b3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table table-condensed table-responsive">
                            <thead>
                                <tr>
                                    <th>Index</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var OutgoingPayments = ViewBag.OutgoingPayments;
                                    if (OutgoingPayments.Count > 0)
                                    {
                                        int index = 1;
                                        foreach (DateTime p in OutgoingPayments)
                                        {
                                            <tr>
                                                <td>@Html.DisplayTextFor(m => index)</td>
                                                <td>@p.ToLongDateString()</td>
                                            </tr>
                                            index++;
                                        }
                                    }
                                    else
                                    {
                                        <tr><td>-</td><td>-</td></tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Second Column-->
</div>
}
else
{
Html.Action("Login", "Account");
}

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script language="javascript" type="text/javascript">
        $(document).delegate(".confirm", "click", function () {
            var PaymentId = $(this).attr("id");
            $.get("/Payments/ConfirmPayment", { "Id": PaymentId }, function (data) {
                $("#myModalBody").html(data);
                $("#myModal").modal('toggle');
            });
        });
        $(document).delegate("#confirmpayment", "click", function () {
            var btn = document.getElementById('confirmpayment');
            var Id = btn.getAttribute("data-PayId");
            $.post("/Payments/ConfirmPayment", {"Id":Id }, function () {
            alert("Thank you. Your payment has been confirmed.")
            $("#"+Id).parent().html("<td><div class='alert alert- warning'>Payment Pending</div></td>");
            $("#myModal").modal('toggle');
            });
        });
    </script>
}