
@using System.Security.Claims
@using Microsoft.AspNet.Identity
@using FundSharer.Models

@if (Request.IsAuthenticated)
{
    ViewBag.Title = "Home";
    var identity = (ClaimsIdentity)User.Identity;
    var Fname = identity.FindFirstValue(ClaimTypes.GivenName);

<hr />
<div class="row">
    <!--First Column-->
    <div class="col-md-6">
        <div class="panel-group" id="acc1">
            <!--Personal Information-->
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <i class="fa fa-user fa-3x"></i>
                        </div>
                        <div class="col-sm-9 text-right">
                            <div class="huge">
                                <a data-toggle="collapse" data-parent="#acc1" href="#a1">Personal Information</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="a1" class="panel-collapse collapse">
                    <div class="panel-body">
                        @{ 
                            var FirstName = ViewBag.FirstName;
                            var LastName = ViewBag.LastName;
                            var EmailAddress = ViewBag.EmailAddress;
                            var PhoneNumber = ViewBag.PhoneNumber;
                        }
                        <dl class="text-info">
                            <dt>@Html.Label("First Name")</dt>
                           <dd><div>@Html.DisplayTextFor(m => FirstName)</div></dd>
                            <dt>@Html.Label("Last Name")</dt>
                            <dd><div>@Html.DisplayTextFor(m => LastName)</div></dd>
                            <dt>@Html.Label("Email Address")</dt>
                            <dd><div>@Html.DisplayTextFor(m => EmailAddress)</div></dd>
                            <dt>@Html.Label("Phone Number")</dt>
                            <dd><div>@Html.DisplayTextFor(m => PhoneNumber)</div></dd>
                        </dl>
                    </div>
                </div>
            </div>
            </div>
            <!--My Donors-->
            <div class="panel-group" id="acc2">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-3">
                                <i class="fa fa-group fa-3x"></i>
                            </div>
                            <div class="col-sm-9 text-right">
                                <div class="huge">
                                    <a data-toggle="collapse" data-parent="#acc2" href="#a2">My Donors</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="a2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-responsive table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Account Number</th>
                                        <th>Bank Name</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ 
                                        List<Dictionary<String, object>> IncomingDonations = ViewBag.PendingIncomingDonations;
                                        if (IncomingDonations.Count > 0)
                                        {
                                            foreach (Dictionary<String, object> i in IncomingDonations)
                                            {
                                                var Name = i["Name"];
                                                var AccountNumber = i["AccountNumber"];
                                                var BankName = i["BankName"];
                                                var PaymentId = i["PaymentId"];
                                                var Confirmed = i["Confirmed"];
                                                 <tr>
                                                    <td>@Name</td>
                                                    <td>@AccountNumber</td>
                                                    <td>@BankName</td>
                                                    @if (PaymentId != null)
                                                    {
                                                        if ((bool)Confirmed == true)
                                                        {
                                                            <td><div class="alert alert-success">Confirmed</div></td>
                                                        }
                                                        else
                                                        {
                                                            using (Html.BeginForm("ConfirmPayment", "Payments", new { Id = PaymentId }, FormMethod.Get, new { @class = "form-inline" }))
                                                            {
                                                                <td><input type="submit" class="btn btn-success btn-sm" value="Confirm Payment"/></td>
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <td><div class="alert alert-warning">Payment Pending</div></td>
                                                    }
                                                 </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr><td>-</td><td>-</td><td>-</td><td>-</td></tr>
                                        }
                                    }
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
    <!--Incoming Donations History-->
    <div class="panel-group" id="acc3">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <i class="fa fa-list-ul fa-3x"></i>
                        </div>
                        <div class="col-sm-9 text-center">
                            <div class="huge">
                                <a data-toggle="collapse" data-parent="#acc3" href="#a3">Incoming Donations History</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="a3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table table-condensed table-responsive">
                            <thead>
                                <tr>
                                    <th>Index</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ 
                                    var IncomingPayments = ViewBag.IncomingPayments;
                                    if(IncomingPayments.Count > 0)
                                    {
                                        int index = 1;
                                        foreach(DateTime p in IncomingPayments)
                                        {
                                            <tr>
                                                <td>@Html.DisplayTextFor(m => index)</td>
                                                <td>@p.ToLongDateString()</td>
                                            </tr>
                                            index++;
                                        }
                                    }
                                    else
                                    {
                                        <tr><td>-</td><td>-</td></tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
    <!--End of First Column-->
    <!--Second Column-->
    <div class="col-md-6">
        <!--Account Information-->
        <div class="panel-group" id="acc4">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <i class="fa fa-bank fa-3x"></i>
                        </div>
                        <div class="col-sm-9 text-right">
                            <div class="huge">
                                <a data-toggle="collapse" data-parent="#acc4" href="#b1">Account Information</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="b1" class="panel-collapse collapse">
                    <div class="panel-body">
                        @{
                            var UserAccountTitle = ViewBag.AccountTitle;
                            var UserAccountNumber = ViewBag.AccountNumber;
                            var UserBankName = ViewBag.BankName;
                        }
                        <dl class="text-info">
                            <dt>@Html.Label("Account Title")</dt>
                            <dd><div>@Html.DisplayTextFor(m => UserAccountTitle)</div></dd>
                            <dt>@Html.Label("Account Number")</dt>
                            <dd><div>@Html.DisplayTextFor(m => UserAccountNumber)</div></dd>
                            <dt>@Html.Label("Bank Name")</dt>
                            <dd><div>@Html.DisplayTextFor(m => UserBankName)</div></dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
            <!--Donation-->
            <div class="panel-group" id="acc5">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-3">
                                <i class="fa fa-send fa-3x"></i>
                            </div>
                            <div class="col-sm-9 text-right">
                                <div class="huge">
                                    <a data-toggle="collapse" data-parent="#acc5" href="#b2">Donation</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="b2" class="panel-collapse collapse">
                        <div class="panel-body">
                             @{
                                 DonationDetails OutgoingDonation = ViewBag.PendingOutgoingDonation;
                                 if (OutgoingDonation != null)
                                 {
                                     @Html.Partial("_FindAMatch", OutgoingDonation)
                                 }
                                 else
                                 {
                                     if (ViewBag.AccountStatus == false)
                                     {
                                        <div id="Change">
                                            @using (Ajax.BeginForm("FindAMatch", new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = "Change", }))
                                            {
                                                <div class="pull-right"><input type="submit" class="btn btn-primary btn-lg btn-block" value="Find a Match" /></div>
                                            }
                                        </div>
                                     }
                                     else
                                     {
                                         <div class="alert alert-info">Waiting for donations</div>
                                     }

                                 }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!--Outgoing Donations History-->
        <div class="panel-group" id="acc6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-3">
                            <i class="fa fa-list-ul fa-3x"></i>
                        </div>
                        <div class="col-sm-9 text-center">
                            <div class="huge">
                                <a data-toggle="collapse" data-parent="#acc6" href="#b3">Outgoing Donations History</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="b3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <table class="table table-condensed table-responsive">
                            <thead>
                                <tr>
                                    <th>Index</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var OutgoingPayments = ViewBag.OutgoingPayments;
                                    if (OutgoingPayments.Count > 0)
                                    {
                                        int index = 1;
                                        foreach (DateTime p in OutgoingPayments)
                                        {
                                            <tr>
                                                <td>@Html.DisplayTextFor(m => index)</td>
                                                <td>@p.ToLongDateString()</td>
                                            </tr>
                                            index++;
                                        }
                                    }
                                    else
                                    {
                                        <tr><td>-</td><td>-</td></tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Second Column-->
</div>
}
else
{
Html.Action("Login", "Account");
}
@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
}