@using FundSharer.Models
@model IEnumerable<BankAccountDetails>

    @foreach (BankAccountDetails bd in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => bd.AccountTitle)</td>
            <td>@Html.DisplayFor(m => bd.AccountNumber)</td>
            <td>@Html.DisplayFor(m => bd.BankName)</td>
            <td>@Html.DisplayFor(m => bd.IncomingPaymentsCount)</td>
            <td>@Html.DisplayFor(m => bd.LastIncomingDonationDate)</td>
            <td>@Html.DisplayFor(m => bd.OutgoingPaymentsCount)</td>
            <td>@Html.DisplayFor(m => bd.LastOutgoingDonationDate)</td>
        </tr>
    }

        


