@using FundSharer.Models
@model IEnumerable<BankAccountDetails>

<div id="dataTables-BankAccounts" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
    <div class="row">
        <div class="col-sm-6">
            <div class="dataTables_length" id="dataTables_Banklength">
                <label>
                    Show &nbsp;
                    <select name="dataTables_length" class="form-control input-sm">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    &nbsp; entries
                </label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="dataTables_filter" id="dataTables_Bankfilter">
                <label>
                    Search: &nbsp;
                    <input type="search" class="form-control input-sm" />
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table width="100" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline" id="dataTable-BankAccount" role="grid">
                <thead>
                    <tr role="row">
                        <th class="sorting_asc" tabindex="0" rowspan="1" colspan="1">
                            @Html.DisplayNameFor(model => model.AccountTitle)
                        </th>
                        <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                            @Html.DisplayNameFor(model => model.AccountNumber)
                        </th>
                        <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                            @Html.DisplayNameFor(model => model.BankName)
                        </th>
                        <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                            @Html.DisplayNameFor(model => model.IncomingPaymentsCount)
                        </th>
                        <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                            @Html.DisplayNameFor(model => model.LastIncomingDonationDate)
                        </th>
                        <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                            @Html.DisplayNameFor(model => model.OutgoingPaymentsCount)
                        </th>
                        <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                            @Html.DisplayNameFor(model => model.LastOutgoingDonationDate)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (BankAccountDetails bd in Model)
                    {
                        <tr role="row">
                            <td>@Html.DisplayFor(m => bd.AccountTitle)</td>
                            <td>@Html.DisplayFor(m => bd.AccountNumber)</td>
                            <td>@Html.DisplayFor(m => bd.BankName)</td>
                            <td>@Html.DisplayFor(m => bd.IncomingPaymentsCount)</td>
                            <td>@Html.DisplayFor(m => bd.LastIncomingDonationDate)</td>
                            <td>@Html.DisplayFor(m => bd.OutgoingPaymentsCount)</td>
                            <td>@Html.DisplayFor(m => bd.LastOutgoingDonationDate)</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="dataTables_info" id="dataTables-Users_info" role="status">

            </div>
        </div>
        <div class="col-sm-6">
            <div class="dataTables_paginate paging_simple_numbers" id="dataTables-Users_paginate">
            </div>
        </div>
    </div>
</div>


