@using FundSharer.Models;
@model BankAccountDetails
@using (Ajax.BeginForm("Edit", "BankAccounts", new { Model }, new AjaxOptions { HttpMethod = "post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "aPanel" }))
{
<dl class="text-info">
    <dt>@Html.Label("Account Title")</dt>
    <dd><div id="aAccountTitle">@Html.TextBoxFor(m => Model.AccountTitle)</div></dd>
    <dt>@Html.Label("Account Number")</dt>
    <dd><div id="aAccountNumber">@Html.TextBoxFor(m => Model.AccountNumber)</div></dd>
    <dt>@Html.Label("Bank Name")</dt>
    <dd><div id="aBankName">@Html.TextBoxFor(m => Model.BankName)</div></dd>
</dl>
<hr />
<div id="aButtons" class="EditButtons">
    <input type="submit" class="btn btn-success" value="Save"/>
    <button id="aButtonCancel" class="btn btn-danger">Cancel</button>
</div>
<script language="javascript" type="text/javascript">
        $("#aButtonCancel").on("click", function(){
            $("#aPanel").load("/BankAccounts/Details", {Id = Model.Id});
        });
</script>
}