<!DOCTYPE html>
<html lang="en" html-has-lang="">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FunD ShareR</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/extras")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Fund Sharer", "HomePage", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            <div class="navbar-collapse collapse">
                
                @{ if (ViewBag.Title == "Welcome")
                    {
                        @Html.Partial("_LoginLink");
                        @Html.Partial("_RegisterLink");
                    }
                    else if (ViewBag.Title == "Register")
                    {
                        @Html.Partial("_LoginLink");
                    }
                    else if (ViewBag.Title == "Log in")
                    {
                        @Html.Partial("_RegisterLink");
                    }
                    else
                    { @Html.Partial("_LoginRegister");
                    }
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FunD ShareR</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/javascript")
    @RenderSection("scripts", required: false)
</body>
</html>
