@using FundSharer.Models;
@model UserDetails
    <div class="text-info">
        <div class="row">
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(model => Model.FirstName)</dt>
                <dd>@Html.DisplayFor(model => Model.FirstName)</dd>
                <dt>@Html.DisplayNameFor(model => Model.LastName)</dt>
                <dd>@Html.DisplayFor(model => Model.LastName)</dd>
                <dt>@Html.DisplayNameFor(model => Model.UserName)</dt>
                <dd>@Html.DisplayFor(model => Model.UserName)</dd>
                <dt>@Html.DisplayNameFor(model => Model.PhoneNumber)</dt>
                <dd>@Html.DisplayFor(model => Model.PhoneNumber)</dd>
                </dl>
            </div>
               @if (User.IsInRole("Administrator"))
               {

                <div class="row">
                    <dl class="dl-horizontal">
                        <dt>@Html.DisplayNameFor(model => Model.LastLoginDate)</dt>
                        <dd>@Html.DisplayFor(model => Model.LastLoginDate)</dd>
                        <dt>@Html.DisplayNameFor(model => Model.IsLocked)</dt>
                        <dd>@Html.DisplayFor(model => Model.IsLocked)</dd>
                    </dl>
                </div>
                <div class="row">
                    @Html.ActionLink("View Account Details", "Details", "Account", new {Id= Model.AccountId})
                    @Html.ActionLink("Back to list", "Users", "Account")
                </div>
               }
               else
               {
                <div class="row">
                    <div style="padding-left:5em"><button id="uButtonEdit" class="btn btn-success"><i class="fa fa-edit"></i>Edit</button></div>
                </div>
                <script language="javascript" type="text/javascript">
                    $("#uButtonEdit").on("click", function () {
                        $("#uPanel").load("/Account/Edit");
                    });
                </script>
               }
        </div>

                    
